// Global styling for this template
body {
  @include body-font;
  padding-top: 54px;
  color: $gray-600;
}
@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: $sidebar-base-width;
  }
}

h1 {
  @include head1-font;
  font-weight: 700;
  font-display: swap;
  color: $gray-800;
}

h2,
h3 {
  @include head2-3-font;
  font-weight: 700;
  font-display: swap;
  color: $gray-800;
}

h4,
h5,
h6 {
  @include head-other-font;
  font-weight: 700;
  font-display: swap;
  color: $gray-800;
}

h1 {
  font-size: 6rem;
  font-display: swap;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
  font-display: swap;
}

h3 {
  font-size: 2rem;
  font-display: swap;
}

h4 {
  font-size: 1.5rem;
  font-display: swap;
}

h5 {
  font-size: 1.25rem;
  font-display: swap;
}

p.lead {
  font-size: 1.15rem;
  font-display: swap;
  font-weight: 400;
}

.subheading {
  font-weight: 500;
  font-display: swap;
  @include subhead-font;
  font-size: 1.5rem;
}

.social-icons {
  a {
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    background-color: $pastel-blue;
    color: $white !important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    font-display: swap;
    line-height: 3.5rem;
    margin-right: 1rem;
    letter-spacing: normal;
    white-space: normal;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      background-color: darken($pastel-blue, 15%);
    }
  }
}

.dev-icons {
  font-size: 3rem;
  font-display: swap;
  .list-inline-item i {
    &:hover {
      color: darken($pastel-blue, 15%);
    }
  }
}

@media screen and (max-height: 500px) {
  .iframe-resp-kyuko {
    position: relative;
    width: 100%;
    padding: calc(300 / 500 * 100%) 0 0;
  }
  .iframe-resp-news iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 520px) {
  .iframe-resp-news {
    position: relative;
    width: 100%;
    padding: calc(500 / 520 * 100%) 0 0;
  }
  .iframe-resp-news iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.contribution-graph {
  width: 100%;
  height: auto;
}